#citizenshipPage .jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10%;
}

#citizenshipPage .jumbotron.first img{
    width: 402px;
    height: 484px;
    transform: scale(1.5);
    padding-right: 38px;
}


#citizenshipPage form {
    background-color: #FFFFFF5C;
    padding: 30px;
    max-width: 350px;
    margin: auto;
}

#citizenshipPage form input,
#citizenshipPage form  textarea {
    padding: 1.2rem .75rem;
    border-radius: 0;
}

#citizenshipPage form button {
    border-radius: 0;
    background-color: #ffcf0a;
    border: 0;
    padding: 10px;
}

h2.question, #citizenshipPage #benefits h2 {
    color: #074252;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.service-card a {
    color: #ffcf0a;
}

.service-card:hover a {
    color: #000;
}

#mapSection {
    background-color: #074252;
    color: #fff;
}

#mapSection .title-citizenship {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 20px 0 30px 0;
}

#mapSection .prg-map {
    line-height: 1.9;
    font-size: 18px;
}


#mapSection img {
    height: 400px;
    width: 600px;
}

#citizenshipPage #benefits {
    background-image: url('./icons/circle_dots.png');
    background-position: 126% -198%;
    background-repeat: no-repeat;
    padding:20px;
}

#citizenshipPage #benefits a{
  color: #074252;
  font-weight: 600;
}


@media only screen and (max-width: 578px){
    #citizenshipPage .jumbotron.first img{
        width: 300px;
        height: 300px;
    }

    h2.question, #citizenshipPage #benefits h2 {
        font-size: 1.5em;
        text-align: center;
    }

   #mapSection img {
       height: 200px;
       width: 100%;
   }

   #citizenshipPage #benefits img {
       height: 200px;
       width: 100%;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #citizenshipPage .jumbotron.first img{
        width: 320px;
        height: 340px;
    }

    #mapSection img {
        height: 230px;
        width: 100%;
    }
}
