@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.card-link {
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    text-align: left;
}


.card-img-top {
    height: 45%;
}

.card-img-top img{
    height: 100%;
    width: 100%;
}



.card-link:hover img , .card-link:active  img {
    /*filter: sepia(100%);*/
}

.button-overlay {
    position: absolute;
    text-align: center !important;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-deatils {
    display: inline-block;
    color: #fff !important;
    background-color: transparent !important;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #fff !important;
    padding: 10px 12px !important;
    line-height: 1.5;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    border-radius: 0 !important;
}

.btn-deatils:hover {
    background-color: #ffcf0a !important;
    border-color: #ffcf0a !important;
}

.card-link:hover .button-overlay {
    top: 50%;
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }

.card-link:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.card-img-top .box-feature {
    display: block;
    font-size: 14px;
    background: #ffcf0a;
    color: #333;
    position: absolute;
    top: -13px;
    z-index: 999;
}

.card-img-top .title-feature {
    position: relative;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    line-height: 16px;
}

.card-img-top .title-feature .span-feature {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: -8.5px;
    top: 0;
    border: 0 solid transparent;
    border-bottom-width: 13px;
    border-top-width: 13px;
    border-left: 9px solid #ffcf0a;
}


.bed-up {
    background-image: url('./icons/bed-up.png');
    width: 20.31px;
    height: 6.42px;
    background-repeat: no-repeat;
    margin-left: 2px;
}


.bed-down {
    background-image: url('./icons/bed-down.png');
    height: 12px;
    width: 25px;
    background-repeat: no-repeat;
    margin-top: 0px;
}

span.price {
    color:  #ffcf0a;
    opacity: 1;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    display: block;
    margin-top: 5px;
    width: 60%;
}



.shower-icon {
    height: 30px;
    width: 20px;
    background-image: url('./icons/shower.png');
    background-repeat: no-repeat;
}

.card-body .title-propertyCard {
    line-height: 15px;
    font-size: 19px;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.card-body .text-muted {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 400;
    color: #808080 !important;
}

.card-body small {
    font-size: 14px;
    font-weight: 500;
}


.card-text {
    font-size: 12px;
}

.area-icon {
    background-image: url('./icons/area.png');
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

.panner h1 {
    font-size: 5em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.panner .input-range {
    width: 20%;
}


.panner .input-range-container {
   position: relative;
   top: 35px;
   margin-right: 35px;
}



.panner.jumbotron {
    height: 370px;
}

.panner .carousel-form {
    position: relative;
    top: 30px;
    left: 15%;
    right: 15%;
    width: 75%;
    padding: 25px 20px 25px 30px !important;
    text-align: center;
}

.panner .carousel-form select {
    width: 21%;
}






/* media queries for mobile screens  */

@media only screen and (max-width: 578px){
    .panner.jumbotron {
        height: 350px;
    }
    .panner h1 {
        font-size: 4em;
    }

    .panner .carousel-form {
        width: 80%;
        position: relative;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .panner .carousel-form select {
        margin-bottom: 6px;
        padding: auto;
        height: 43px;
        width: 100%;
    }
   
    .panner .carousel-form .search-btn {
        width: 20px;
        height: 20px;
    }
    
   
    .panner .input-range-container {
       position: unset; 
    }
}

/* Tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .panner h1 {
        font-size: 5em;
    }

    .panner.jumbotron {
        height: 300px;
    }

    .panner .carousel-form {
        position:relative;
        width: 80%;
        top: 35px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        padding: 15px;
    }
    .panner .carousel-form select {
        width: 20%;
        height: 45px;
        padding: auto;
    }
    .panner .carousel-form .search-btn {
        width: 30px;
    } 
     
}


/* Property Page */
#propertyPage {
    background-color: #E8E8E8;
    width: 70%;
    margin: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    padding: 0;
}

#galleryCarousel {
    margin-bottom: 20px;
}

.carousel#galleryCarousel, #galleryCarousel.slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 12;
  overflow: hidden;
}

#galleryCarousel .carousel-inner,
#galleryCarousel .carousel-inner .carousel-item img {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

#galleryCarousel .carousel-inner .carousel-item img {
    height: 500px;
    object-fit: cover;
}


#propertyPage .overview {
    padding: 30px 95px;
    color: #074252;

}


#propertyPage .overview h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}





ul.overview-list li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 20px;
}

ul.overview-list li span {
    padding: 7px 20px;
    margin: 5px 5px;
    background-color: #fff;
    border-radius: 5px;;
    box-shadow: 2px 2px 5px #ccc;
}



.overview table {
    border-spacing: 10px;
    border-collapse: separate;
}

.overview table td {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    font-size: 18px;
    font-family: 'Rubik';
}


.overview .key-val {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px #ccc;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    margin: 0px 3px;
    text-align: center;
}


#propertyPage .services {
    margin-top: 40px;
}

#propertyPage .services ul {
    display: flex;
    flex-wrap: wrap;
}

#propertyPage .services ul li {
    flex-basis: 50%;
    font-size: 19px;
    padding: 0px 0px 15px 0;
}

#propertyPage .services ul li:nth-child(even) {
    text-align: center !important;
}

#propertyPage .nearby {
    margin-top: 40px;
}

#propertyPage .nearby .nearby-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#propertyPage .nearby .nearby-row .nearby-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nearby-item img, .nearby-item svg {
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    align-self: center;
   
   
}

.nearby-item  {
    color: #074252;
}

.whyThisProject {
    margin-top: 70px;
}


.about {
    margin-top: 70px;
}

.plans {
    margin-top: 30px;
    width: 90%;
    margin: auto;
}

.row-area {
    flex-wrap: nowrap !important;
}



.marginLeftLangEng {
    margin-left: 40px !important;
    margin-right: 0;
}

.marginLeftLangEng li {
    font-size: 20px;
    margin-bottom: 5px;
}

html:lang(ar) .marginLeftLangEng {
    margin-right: 40px !important;
    margin-left: 0;
}

@media(max-width: 768px) {
    .row-area {
        flex-wrap: wrap !important;
    }

    .row-area .key-val {
        margin-bottom: 5px;
    }

    .row-area .key-val-parent {
        flex-basis: 30%;
    }

    .row-area .key-val-child {
        flex-basis: 65%;
    }

    .marginLeftLangEng {
        margin-left: 0px !important;
        margin-right: 0;
    }

    html:lang(ar) .marginLeftLangEng {
        margin-right: 0px !important;
        margin-left: 0;
    }

    html:lang(ar) .whyThisProject ul {
        margin-right: 35px !important;
    }

    html:lang(en) .whyThisProject ul {
        margin-left: 35px !important;
    }

    .similar .similar-text {
        left: 30px;
    }

    span.price {
        width: 37%;
    }
}

@media(max-width: 350px) {
    .row-area .key-val-parent {
        flex-basis: 28%;
    }

    .row-area .key-val-child {
        flex-basis: 55%;
    }
}

.about .desc-plans {
    margin-left: 34px;
} 

.plans .plan-toggle {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
    color: #074252;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 5px #ccc;

}

.plans .plan-details {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
    width: 100%;
    display: flex;
    
}

.plan-details img {
    height: 250px;
    width: 55%;
}

@media screen and(min-width: 1024px) {
    .plan-details img {
        height: 250px;
        width: 40%;
    }
}

.plan-details ul {
    font-size: 12px;
    list-style-type: none;
    margin: 20px 10px;
}

.plan-details .details {
    display: flex;
    justify-content: space-evenly;
}


#propertyPage .video{
  margin-top: 70px;
}

.similar img {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 5px #ccc;
}


.similar .similar-text{
   position: absolute;
   left: 22px;
   bottom: 10px;
   color: #fff;
   display: flex;
   flex-direction: column;
   width: 90%;
}

.similar-text .price {
    background-color: #ffcf0a;
    color: #fff;
    padding: 1px 2px;
}

.similar-text span.title {
    font-weight: 500;
}

#propertyPage hr {
    width: 80%;
    background-color: #074252;
    height: 1.5px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.share .box-social {
    display: flex;
}

.share button {
    color: #fff;
    font-weight: 500;
    height: 30px;
    margin-right: -7px;
    font-size: 12px;
}



button.facebook {
    background-color: #33528f;
   
}

button.twitter {
    background-color: #03a5e6;
}

button.linkedin {
    background-color: #0e76a8;
}


.video-box {
    height: 500px;
    width: 100%;
}




@media only screen and (max-width: 768px){
    #propertyPage {
        width: 100%;
        margin: 3% 1%;
    }

    #galleryCarousel .carousel-inner .carousel-item img {
        height: 300px;
    }

    #propertyPage .overview {
        padding: 20px 20px;
    }

    #propertyPage h1 {
        font-size: 0.5em;
    }

    #propertyPage .nearby .nearby-row .nearby-item {
        flex-basis: 50%;
    }

    .nearby-item img {
        height: 30px;
        width: 30px;
    }

    .nearby-item span {
        font-size: 12px;
        text-align: center;
    }

    .plan-details {
        flex-direction: column;
    }

    .plan-details img {
        width: 100%;
        height: 200px;
    }

    .similar img {
        height: 140px;
        width: 100%;
    }

    .similar {
        overflow-x: scroll;
    }

    .share {
     
        justify-content: center;
        align-content: center;
        align-self: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .share .box-social {
        display: flex;
        flex-wrap: nowrap;
    }

   

    .share button {
        width: 90%;
    }
    .share img, .share button {
        margin-bottom: 10px;
    }

    .video-box {
        height: 200px;
    }
}

.start-form {
    color: #444;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

@media(max-width: 500px) {
    .share {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .share .box-social {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 47%;
    }
}




